# To install properly on Windows with CUDA:
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118

gradio
opencv-python-headless
ffmpeg-python
tqdm
matplotlib
scikit-image
gitpython
plyfile
trimesh
mediapy
seaborn
pandas
numpy
diff-gaussian-rasterization; sys_platform == 'linux'
simple-knn; sys_platform == 'linux'
